.calendar {
	max-width: 1646px;
	min-height: 831px;
}

.calendar .div {
	border: 1px solid var(--surface-200);
}

.calendar button {
	color: var(--text-color);
}

.calendar tbody {
	color: #fff;
}

.holiday {
	background-color: var(--surface-ground);
}

.today {
	background-color: var(--highlight-bg);
}

.otherMonth {
	background-color: var(--surface-50);
}
