.calendarContainer {
	margin: 0;
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.acordion {
	display: flex;
	justify-content: left;
	color: var(--text-color);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
}

.button {
	margin-bottom: 12px;
	padding: 0;
	border: none;
	font: inherit;
	background-color: transparent;
	cursor: pointer;
  color: var(--text-color);
  font-weight: 400;
}

.allCalendars {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 125%;
	color: var(--text-color);
	grid-row-gap: 12px;
}

.list {
	display: grid;
	grid-template-columns: 16px 1fr 16px;
	grid-column-gap: 8px;
	align-items: start;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.list:hover {
	color: var(--surface-200);
}

.list input {
	cursor: pointer;
	margin-top: 1.5px;
	display: none;
}

.checkbox {
	height: 16px;
	width: 16xpx;
	margin-top: 1.5px;
	border: 1px solid var(--surface-200);
	display: inline-block;
	position: relative;
	border-radius: 2px;
	position: relative;
	cursor: pointer;
}

.checkbox::before {
	content: '';
}

label input:checked ~ .checkbox::before {
	content: '\2714';
	color: var(--primary-color-text);
	position: relative;
	font-size: 14px;
	top: -2px;
	left: 1px;
}

.edit {
	border: none;
	background-color: transparent;
	color: var(--text-color);
	cursor: pointer;
	padding: 0;
	transition: all 0.2s ease-out;
}

.edit:hover {
	color: var(--surface-200);
}
