.year {
  background-color: var(--surface-e);
	margin: 50px 0 167px 0;
	text-align: left;
	max-width: 952px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */

	align-items: center;

	/* Black */

	color: var(--text-color);
}

.quarter {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
}

.month {
	list-style: none;
}

.commentsBlock {
	margin: 50px 0 50px 0;
	text-align: left;
	max-width: 952px;
}

.calendar .div {
  border: 1px solid var(--surface-100);
}

.calendar button {
  color: var(--text-color);
}

.holiday {
  background-color: var(--surface-ground);
}

.today {
  background-color: var(--highlight-bg);
}

.otherMonth {
  background-color: var(--surface-100);
}
