.sidebar {
  width: 29rem;
  min-height: 1rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  /* background-color: var(--highlight-bg); */
}

.button {
  width: 100%;
}

.calendar {
  margin-top: 1rem;
}
