.button {
	position: fixed;
	height: 50px;
	width: 60px;
	font-size: 60px;
	border: none;
	transition: transform 0.1s linear;
	cursor: pointer;
}

.buttonOn {
	animation: on 0.5s forwards;
}

.buttonOff {
	animation: off 0.1s ease forwards;
}

.buttonBox {
	position: absolute;
	top: 92vh;
	right: 0px;
	height: 50px;
	width: 56px;
	visibility: hidden;
}

.button:hover {
	transform: scale(1.25);
}

@keyframes on {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes off {
	from {
		opacity: 1;
		visibility: visible;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}
