/* ОБЩИЕ СТИЛИ */
.card {
	width: 21rem;
}

.form {
	margin: 0 0 1.5rem;
}

.title {
	font-size: 26px;
	font-family: Roboto;
	font-weight: 600;
	word-wrap: break-word;
	margin: 0 0 2.5rem;
}

.field {
	margin-bottom: 1.75rem;
}

.paddings {
	padding: 0 1.25rem;
}

/* FormNewCalendar && FormEditCalendar */
.colorTable {
	padding: 1.2rem;
	border-radius: 0.3rem;
	border-color: var(--surface-border);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1.1rem;
}

.color {
	width: 100%;
	height: 1.5rem;
}

/* FormEditUser */
.titleH3 {
	margin: 3rem 0 0 0;
}

.dangerZone {
	margin-top: 2rem;
}

.dangerBtn,
.dangerInput,
.dangerInput input {
	width: 100%;
}

/* FormLogin && FormRegistration*/
.linkRegistry {
	padding: 0;
	font-size: 1rem;
	color: var(--primary-500);
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 0.3s linear;
}

.linkRegistry:hover {
	box-shadow: 0 0.1rem 0 var(--primary-500);
}

/* FormNewEvent && FormEditEvent */
.calendar {
	max-width: 288px;
}

.item {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	max-width: 268px;
}

.optionText {
	margin: 0;
	white-space: break-spaces;
	word-wrap: break-word;
	overflow: hidden;
}

.marker {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin-right: 8px;
	flex-shrink: 0;
}

/* FormEditEvent && FormEditCalendar */
.btnWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.btnWrapper .dangerBtn {
	flex-shrink: 0;
}

/* FormEditAvatar */
.avatar {
	min-width: 400px;
}

.avatar .dangerBtn {
	margin-top: 3rem;
}

/* FormShareCalendar */
.inputBox {
	display: grid;
	grid-template-columns: 6fr 1fr;
	gap: 1rem;
}

.circle {
	width: 18px;
	height: 18px;
	border-radius: 25px;
}

.nameCalendar {
	margin: 0 0 0 12px;
	padding-top: 1px;
}

.guestsTable {
	padding: 1.2rem;
	border: 1px solid;
	border-radius: 0.3rem;
	border-color: var(--surface-border);
	display: flex;
	flex-direction: column;
	gap: 12px;
	column-gap: 1.1rem;
}

.guest {
	width: 100%;
	border-radius: 0.3rem;
	border-color: var(--surface-border);
	display: grid;
	grid-template-columns: auto 24px;
	column-gap: 1.1rem;
	align-items: center;
}

.guestInfo {
	max-width: 270px;
	height: 32px;
	border-radius: 20px;
	background-color: var(--highlight-bg);
	margin-left: 5px;
}

.guestIcon {
	margin-left: auto;
	margin-right: 8px;
}

.guestAvatar {
	margin-left: 2px;
	width: 28px;
	height: 28px;
	background-color: violet;
}

.guestEmail {
	max-width: 170px;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 150%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.delButton {
	justify-self: center;
	border: none;
	background-color: transparent;
	color: var(--text-color);
	cursor: pointer;
	padding: 0;
	transition: all 0.2s ease-out;
	width: 16px;
	height: 16px;
}

.delButton:hover {
	color: var(--surface-200);
}
