/* ОБЩИЕ СТИЛИ */
.card {
	width: 20rem;
}

.form {
	margin: 0 0 1.5rem;
}

.title {
	margin: 0 0 2.5rem;
}

.field {
	margin-bottom: 1.75rem;
}

.paddings {
	padding: 0 1.25rem;
}

/* FormNewCalendar && FormEditCalendar */
.colorTable {
	padding: 1.2rem;
	border-radius: 0.3rem;
	border-color: var(--surface-border);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 1.1rem;
}

.color {
	width: 100%;
	height: 1.5rem;
}

/* FormEditUser */
.titleH3 {
	margin: 3rem 0 0 0;
}

.dangerZone {
	margin-top: 2rem;
}

.dangerBtn,
.dangerInput,
.dangerInput input {
	width: 100%;
}

/* FormLogin && FormRegistration*/
.linkRegistry {
	color: var(--primary-500);
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 0.3s linear;
}

.linkRegistry:hover {
	box-shadow: 0 0.1rem 0 var(--primary-500);
}

/* FormNewEvent && FormEditEvent */
.calendar {
	max-width: 288px;
}

.item {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	max-width: 268px;
}

.optionText {
	margin: 0;
	white-space: break-spaces;
	word-wrap: break-word;
	overflow: hidden;
}

.marker {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin-right: 8px;
	flex-shrink: 0;
}

/* FormEditEvent && FormEditCalendar */
.btnWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.btnWrapper .dangerBtn {
	flex-shrink: 0;
}

/* FormEditAvatar */
.avatar {
	min-width: 400px;
}

.avatar .dangerBtn {
	margin-top: 3rem;
}
