.footer {
	width: 100%;
	padding: 22px 24px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: flex-start;
	gap: 7px;
	color: var(--text-color-secondary);
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: 130%;
}

.link {
	margin: 0;
	padding: 0;
	cursor: pointer;
	font-size: 10px;
	color: var(--text-color-secondary);
	text-decoration-line: underline;
}

.text {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
