@import-normalize;

/*:root {*/
/*	--shadow: 0px 4px 12px rgba(2, 89, 192, 0.12);*/
/*}*/

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	padding: 0 1.5rem;
	max-width: 1920px;
	margin: 0 auto;
}
