.header {
	min-height: 56px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--blue-100);
}

.togglerGroup {
	margin: 0 52px 0 auto;
	display: flex;
	align-items: center;
	gap: 16px;
	color: var(--text-color);
}

.button {
	min-width: 112px;
}
