.card {
	width: 20rem;
}

.form {
	margin: 2.75rem 0;
}

.field {
	margin-bottom: 2rem;
}

.paddings {
	padding: 0 1.25rem 2.25rem;
}

.item {
	display: flex;
	align-items: center;
}

.marker {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin-right: 8px;
}
